main > div {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
    font-family: 'Montserrat', sans-serif;
}
.btn-warning {
    color: #fff;
    background-color: #f3a506;
    border-color: #e08e0b;
}
.btn-danger.ml-2{
    background-color: #dd0a1d;
    border-color: #d73925;
}
.btn-primary{
    color: #fff;
    background-color: #065ea5;
    border-color: #2e6da4;
}
.btn-secondary{
    background-color: #1a2f39;
}
.display-4{
    color: #e33436;
}